* {
  box-sizing: border-box;
}
html {
  position: relative;
  min-height: 100%;
}
body {

  overflow-x: hidden;
  margin: 0;
  background: #faebd7;
}

.form_input {
  width: 90%;
  margin: 15px;
}


input[type="text"],
input[type="number"],
select,
textarea {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  padding: 0 10px;
}


.submit_actions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}

.submit_actions input[type="submit"],
.submit_actions input[type="button"] {
  height: 40px;
  padding: 10px;
  margin-left: 20px;
  cursor: pointer;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
  margin: 0;
}

nav h1 {
  font-size: 18px;
  margin-left:10px;
}


nav ul {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  margin-right: 30px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

.main_page_container {
  min-height: 70vh;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.welcome_msg {
  margin: 30px 0;
}

.error {
  color: red;
}

.row {
  display: flex;
}

@media only screen and (min-width: 1200px) {
  nav h1 {
    width: 30%;
  }

  .summary_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .form_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .summary_list p {
    flex-basis: 30%;
  }

  .form_list p {
    flex-basis: 40%;
  }

  .form_input {
    width: 40%;
    margin: 15px;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
  }
}
